{
  "openapi": "3.1.0",
  "info": {
    "title": "Secret Provider API",
    "description": "REST API for implementations of custom Secret Provider",
    "contact": {
      "name": "ILM",
      "url": "https://www.otilm.com",
      "email": "info@otilm.com"
    },
    "license": {
      "name": "MIT License",
      "url": "https://github.com/CZERTAINLY/CZERTAINLY/blob/develop/LICENSE.md"
    },
    "version": "2.17.0",
    "x-logo": {
      "url": "images/ilm-logo.svg"
    },
    "x-metrics-profile": {
      "histograms": {
        "http_server_latency_buckets_seconds": [
          0.005,
          0.01,
          0.025,
          0.05,
          0.1,
          0.25,
          0.5,
          1,
          2.5,
          5,
          10
        ],
        "http_client_latency_buckets_seconds": [
          0.01,
          0.025,
          0.05,
          0.1,
          0.25,
          0.5,
          1,
          2.5,
          5,
          10
        ]
      },
      "required": [
        {
          "labels": [
            "version",
            "commit",
            "runtime"
          ],
          "type": "gauge",
          "name": "app_build_info",
          "unit": "1"
        },
        {
          "labels": [],
          "type": "gauge",
          "name": "process_start_time_seconds",
          "unit": "seconds"
        },
        {
          "labels": [],
          "type": "counter",
          "name": "process_cpu_seconds_total",
          "unit": "seconds"
        },
        {
          "labels": [],
          "type": "gauge",
          "name": "process_resident_memory_bytes",
          "unit": "bytes"
        },
        {
          "labels": [
            "method",
            "route",
            "status"
          ],
          "type": "counter",
          "name": "http_requests_total",
          "unit": "requests"
        },
        {
          "name": "http_request_duration_seconds",
          "unit": "seconds",
          "type": "histogram",
          "labels": [
            "method",
            "route"
          ],
          "buckets_ref": "http_server_latency_buckets_seconds"
        },
        {
          "labels": [
            "route"
          ],
          "type": "gauge",
          "name": "http_server_in_flight_requests",
          "unit": "requests"
        },
        {
          "labels": [
            "method",
            "target",
            "status"
          ],
          "type": "counter",
          "name": "http_client_requests_total",
          "unit": "requests"
        },
        {
          "name": "http_client_request_duration_seconds",
          "unit": "seconds",
          "type": "histogram",
          "labels": [
            "method",
            "target"
          ],
          "buckets_ref": "http_client_latency_buckets_seconds"
        },
        {
          "labels": [
            "event",
            "outcome"
          ],
          "type": "counter",
          "name": "connector_events_total",
          "unit": "events"
        }
      ],
      "version": 1
    }
  },
  "externalDocs": {
    "description": "ILM Documentation",
    "url": "https://docs.otilm.com"
  },
  "servers": [
    {
      "url": "https://demo.czertainly.online",
      "description": "CZERTAINLY Demo server"
    }
  ],
  "tags": [
    {
      "name": "Secret Management",
      "description": "Secret Management API"
    },
    {
      "name": "Metrics API",
      "description": "Connector metrics API. Connector metrics API is exposing standard Prometheus/OpenMetrics metrics that can be scraped by observability solutions and collectors."
    },
    {
      "name": "Vault Management",
      "description": "Vault Management API"
    },
    {
      "name": "Health check v2",
      "description": "Connector Health check API. Connector returns own status and in some cases can return status of components on which it depends like database, HSM and so on."
    },
    {
      "name": "Connector Info v2",
      "description": "Connector Information API. Each connector may have multiple functions represented by its connector interfaces. For each connector interface there is a list of implemented endpoints. These endpoints must be according the specified interface, this is validated by the core. You can also implement helper end points that are used for callbacks and other relevant operations specific to implementation."
    }
  ],
  "paths": {
    "/v1/secretProvider/secrets": {
      "put": {
        "tags": [
          "Secret Management"
        ],
        "summary": "Update Secret",
        "operationId": "updateSecret",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSecretRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Secret updated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SecretResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. Endpoint not found or not implemented",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Secret value validation failed",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          }
        },
        "security": [
          {
            "NoAuth": []
          },
          {
            "CertificateTLSAuth": []
          },
          {
            "ConnectorAPIKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Secret Management"
        ],
        "summary": "Create Secret",
        "operationId": "createSecret",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSecretRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Secret created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SecretResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. Endpoint not found or not implemented",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. Secret already exists",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SecretResponseDto"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Secret value validation failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          }
        },
        "security": [
          {
            "NoAuth": []
          },
          {
            "CertificateTLSAuth": []
          },
          {
            "ConnectorAPIKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Secret Management"
        ],
        "summary": "Delete Secret",
        "operationId": "deleteSecret",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Secret deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. Endpoint not found or not implemented",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          }
        },
        "security": [
          {
            "NoAuth": []
          },
          {
            "CertificateTLSAuth": []
          },
          {
            "ConnectorAPIKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/v1/secretProvider/vaults": {
      "post": {
        "tags": [
          "Vault Management"
        ],
        "summary": "Check connection to Vault Instance",
        "operationId": "checkVaultConnection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "Vault attributes",
                "items": {
                  "$ref": "#/components/schemas/RequestAttribute"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Vault instance connected"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. Endpoint not found or not implemented",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          }
        },
        "security": [
          {
            "NoAuth": []
          },
          {
            "CertificateTLSAuth": []
          },
          {
            "ConnectorAPIKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/v1/secretProvider/vaultProfiles/attributes": {
      "post": {
        "tags": [
          "Vault Management"
        ],
        "summary": "List Vault Profile Attributes",
        "operationId": "listVaultProfileAttributes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "Vault attributes",
                "items": {
                  "$ref": "#/components/schemas/RequestAttribute"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Vault Profile Attributes retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BaseAttributeDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. Endpoint not found or not implemented",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          }
        },
        "security": [
          {
            "NoAuth": []
          },
          {
            "CertificateTLSAuth": []
          },
          {
            "ConnectorAPIKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/v1/secretProvider/secrets/rotate": {
      "post": {
        "tags": [
          "Secret Management"
        ],
        "summary": "Rotate Secret",
        "operationId": "rotateSecret",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Secret rotated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SecretResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. Endpoint not found or not implemented",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Secret value validation failed",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          }
        },
        "security": [
          {
            "NoAuth": []
          },
          {
            "CertificateTLSAuth": []
          },
          {
            "ConnectorAPIKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/v1/secretProvider/secrets/content": {
      "post": {
        "tags": [
          "Secret Management"
        ],
        "summary": "Get Secret Content",
        "operationId": "getSecretContent",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Secret content retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretContentResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. Endpoint not found or not implemented",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          }
        },
        "security": [
          {
            "NoAuth": []
          },
          {
            "CertificateTLSAuth": []
          },
          {
            "ConnectorAPIKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/v2/info": {
      "get": {
        "tags": [
          "Connector Info v2"
        ],
        "summary": "Get Connector Info",
        "description": "Returns information about the connector and implemented interfaces.",
        "operationId": "getConnectorInfo",
        "responses": {
          "200": {
            "description": "Connector info retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. Endpoint not found or not implemented",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v2/health": {
      "get": {
        "tags": [
          "Health check v2"
        ],
        "summary": "Health check",
        "operationId": "checkHealth",
        "responses": {
          "200": {
            "description": "Health check retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. Endpoint not found or not implemented",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable. Health check indicates service or its component is unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthInfo"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v2/health/readiness": {
      "get": {
        "tags": [
          "Health check v2"
        ],
        "summary": "Health readiness check",
        "operationId": "checkHealthReadiness",
        "responses": {
          "200": {
            "description": "Health readiness check retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. Endpoint not found or not implemented",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable. Health readiness check indicates service or its component is not ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthInfo"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v2/health/liveness": {
      "get": {
        "tags": [
          "Health check v2"
        ],
        "summary": "Health liveness check",
        "operationId": "checkHealthLiveness",
        "responses": {
          "200": {
            "description": "Health liveness check retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. Endpoint not found or not implemented",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable. Health liveness check indicates service or its component is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthInfo"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/secretProvider/vaults/attributes": {
      "get": {
        "tags": [
          "Vault Management"
        ],
        "summary": "List Vault Attributes",
        "operationId": "listVaultAttributes",
        "responses": {
          "200": {
            "description": "Vault Attributes retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BaseAttributeDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. Endpoint not found or not implemented",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          }
        },
        "security": [
          {
            "NoAuth": []
          },
          {
            "CertificateTLSAuth": []
          },
          {
            "ConnectorAPIKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/v1/secretProvider/secrets/{secretType}/attributes": {
      "get": {
        "tags": [
          "Secret Management"
        ],
        "summary": "Get Secret Attributes",
        "operationId": "getSecretAttributes",
        "parameters": [
          {
            "name": "secretType",
            "in": "path",
            "description": "Secret type",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SecretType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret attributes retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BaseAttributeDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. Endpoint not found or not implemented",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          }
        },
        "security": [
          {
            "NoAuth": []
          },
          {
            "CertificateTLSAuth": []
          },
          {
            "ConnectorAPIKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/v1/secretProvider/secrets/rotate/attributes": {
      "get": {
        "tags": [
          "Secret Management"
        ],
        "summary": "Get Rotate Attributes",
        "operationId": "getRotateAttributes",
        "responses": {
          "200": {
            "description": "Rotate attributes retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BaseAttributeDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. Endpoint not found or not implemented",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          }
        },
        "security": [
          {
            "NoAuth": []
          },
          {
            "CertificateTLSAuth": []
          },
          {
            "ConnectorAPIKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/v1/metrics": {
      "get": {
        "tags": [
          "Metrics API"
        ],
        "summary": "Get metrics",
        "operationId": "getMetrics",
        "responses": {
          "200": {
            "description": "Metrics retrieved successfully",
            "content": {
              "application/openmetrics-text; version=1.0.0; charset=utf-8": {
                "schema": {
                  "type": "string",
                  "description": "[OpenMetrics v1.0.0 text format](https://prometheus.io/docs/specs/om/open_metrics_spec/#text-format)"
                },
                "example": "# TYPE http_requests_total counter\nhttp_requests_total{method=\"GET\"} 42"
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "[Legacy Prometheus 0.0.4 text format](https://github.com/Showmax/prometheus-docs/blob/master/content/docs/instrumenting/exposition_formats.md#format-version-004)"
                },
                "example": "# HELP http_requests_total Total requests\n# TYPE http_requests_total counter\nhttp_requests_total{method=\"GET\"} 42"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. Endpoint not found or not implemented",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable. Metrics could not be retrieved",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailExtended"
                }
              }
            }
          }
        },
        "security": [
          {
            "NoAuth": []
          },
          {
            "CertificateTLSAuth": []
          },
          {
            "ConnectorAPIKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ApiKeySecretContent": {
        "type": "object",
        "description": "Secret representing an API Key",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/SecretType",
            "description": "Secret type",
            "examples": [
              "apiKey"
            ]
          },
          "content": {
            "type": "string",
            "description": "API Key content string",
            "minLength": 1
          }
        },
        "required": [
          "content",
          "type"
        ],
        "title": "ApiKeySecretContent"
      },
      "AttributeCallback": {
        "type": "object",
        "properties": {
          "callbackContext": {
            "type": "string",
            "description": "Context part of callback URL"
          },
          "callbackMethod": {
            "type": "string",
            "description": "HTTP method of the callback. This value is required for connector callbacks and optional only for callbacks defined on resource objects."
          },
          "mappings": {
            "type": "array",
            "description": "Mappings for the callback method",
            "items": {
              "$ref": "#/components/schemas/AttributeCallbackMapping"
            },
            "uniqueItems": true
          }
        },
        "required": [
          "mappings"
        ]
      },
      "AttributeCallbackMapping": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "description": "Name of the attribute whose value is to be used as value of path variable or request param or body field.It is optional and must be set only if value is not set."
          },
          "attributeType": {
            "$ref": "#/components/schemas/AttributeType",
            "description": "Type of the attribute. It is optional and must be set only if special behaviour is needed."
          },
          "attributeContentType": {
            "$ref": "#/components/schemas/AttributeContentType",
            "description": "Type of the attribute content. "
          },
          "to": {
            "type": "string",
            "description": "Name of the path variable or request param or body field which is to be used to assign value of attribute"
          },
          "targets": {
            "type": "array",
            "description": "Set of targets for propagating value.",
            "items": {
              "$ref": "#/components/schemas/AttributeValueTarget"
            },
            "uniqueItems": true
          },
          "value": {
            "description": "Static value to be propagated to targets. It is optional and is set only if the value is known at attribute creation time."
          }
        },
        "required": [
          "targets",
          "to"
        ]
      },
      "AttributeConstraintType": {
        "type": "string",
        "enum": [
          "regExp",
          "range",
          "dateTime"
        ]
      },
      "AttributeContentType": {
        "type": "string",
        "enum": [
          "string",
          "text",
          "integer",
          "boolean",
          "float",
          "date",
          "time",
          "datetime",
          "secret",
          "file",
          "credential",
          "codeblock",
          "object",
          "resource"
        ]
      },
      "AttributeResource": {
        "type": "string",
        "enum": [
          "certificates",
          "credentials",
          "authorities",
          "entities",
          "locations",
          "secrets"
        ]
      },
      "AttributeType": {
        "type": "string",
        "enum": [
          "data",
          "group",
          "info",
          "meta",
          "custom"
        ]
      },
      "AttributeValueTarget": {
        "type": "string",
        "enum": [
          "pathVariable",
          "requestParameter",
          "body",
          "filter"
        ]
      },
      "AttributeVersion": {
        "type": "string",
        "enum": [
          "v2",
          "v3"
        ]
      },
      "BaseAttributeConstraint": {
        "type": "object",
        "description": "Base Attribute Constraint definition",
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "regExp": "#/components/schemas/RegexpAttributeConstraint",
            "range": "#/components/schemas/RangeAttributeConstraint",
            "dateTime": "#/components/schemas/DateTimeAttributeConstraint"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/RegexpAttributeConstraint"
          },
          {
            "$ref": "#/components/schemas/RangeAttributeConstraint"
          },
          {
            "$ref": "#/components/schemas/DateTimeAttributeConstraint"
          }
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/AttributeConstraintType",
            "description": "Attribute Constraint Type"
          },
          "errorMessage": {
            "type": "string",
            "description": "Error message to be displayed for wrong data"
          },
          "description": {
            "type": "string",
            "description": "Description of the constraint"
          }
        },
        "required": [
          "type"
        ]
      },
      "BaseAttributeContentDtoV2": {
        "type": "object",
        "description": "Base Attribute ContentV2 definition",
        "oneOf": [
          {
            "$ref": "#/components/schemas/BooleanAttributeContentV2"
          },
          {
            "$ref": "#/components/schemas/CodeBlockAttributeContentV2"
          },
          {
            "$ref": "#/components/schemas/CredentialAttributeContentV2"
          },
          {
            "$ref": "#/components/schemas/DateAttributeContentV2"
          },
          {
            "$ref": "#/components/schemas/DateTimeAttributeContentV2"
          },
          {
            "$ref": "#/components/schemas/FileAttributeContentV2"
          },
          {
            "$ref": "#/components/schemas/FloatAttributeContentV2"
          },
          {
            "$ref": "#/components/schemas/IntegerAttributeContentV2"
          },
          {
            "$ref": "#/components/schemas/ObjectAttributeContentV2"
          },
          {
            "$ref": "#/components/schemas/SecretAttributeContentV2"
          },
          {
            "$ref": "#/components/schemas/StringAttributeContentV2"
          },
          {
            "$ref": "#/components/schemas/TextAttributeContentV2"
          },
          {
            "$ref": "#/components/schemas/TimeAttributeContentV2"
          }
        ],
        "properties": {
          "reference": {
            "type": "string",
            "description": "ContentV2 Reference"
          }
        }
      },
      "BaseAttributeContentDtoV3": {
        "description": "Base Attribute Content",
        "discriminator": {
          "propertyName": "contentType",
          "mapping": {
            "boolean": "#/components/schemas/BooleanAttributeContentV3",
            "codeblock": "#/components/schemas/CodeBlockAttributeContentV3",
            "date": "#/components/schemas/DateAttributeContentV3",
            "datetime": "#/components/schemas/DateTimeAttributeContentV3",
            "file": "#/components/schemas/FileAttributeContentV3",
            "float": "#/components/schemas/FloatAttributeContentV3",
            "integer": "#/components/schemas/IntegerAttributeContentV3",
            "object": "#/components/schemas/ObjectAttributeContentV3",
            "string": "#/components/schemas/StringAttributeContentV3",
            "text": "#/components/schemas/TextAttributeContentV3",
            "time": "#/components/schemas/TimeAttributeContentV3",
            "resource": "#/components/schemas/ResourceObjectContent"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/BooleanAttributeContentV3"
          },
          {
            "$ref": "#/components/schemas/CodeBlockAttributeContentV3"
          },
          {
            "$ref": "#/components/schemas/DateAttributeContentV3"
          },
          {
            "$ref": "#/components/schemas/DateTimeAttributeContentV3"
          },
          {
            "$ref": "#/components/schemas/FileAttributeContentV3"
          },
          {
            "$ref": "#/components/schemas/FloatAttributeContentV3"
          },
          {
            "$ref": "#/components/schemas/IntegerAttributeContentV3"
          },
          {
            "$ref": "#/components/schemas/ObjectAttributeContentV3"
          },
          {
            "$ref": "#/components/schemas/StringAttributeContentV3"
          },
          {
            "$ref": "#/components/schemas/TextAttributeContentV3"
          },
          {
            "$ref": "#/components/schemas/TimeAttributeContentV3"
          },
          {
            "$ref": "#/components/schemas/ResourceObjectContent"
          }
        ]
      },
      "BasicAuthSecretContent": {
        "type": "object",
        "description": "Secret representing Basic Authentication credentials",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/SecretType",
            "description": "Secret type",
            "examples": [
              "apiKey"
            ]
          },
          "username": {
            "type": "string",
            "description": "Username for Basic Authentication",
            "example": "admin",
            "minLength": 1
          },
          "password": {
            "type": "string",
            "description": "Password for Basic Authentication",
            "minLength": 1
          }
        },
        "required": [
          "password",
          "type",
          "username"
        ],
        "title": "BasicAuthSecretContent"
      },
      "BooleanAttributeContentV2": {
        "type": "object",
        "description": "Boolean attribute content to store true/false values",
        "properties": {
          "reference": {
            "type": "string",
            "description": "ContentV2 Reference"
          },
          "data": {
            "type": "boolean",
            "description": "Boolean attribute value"
          }
        },
        "required": [
          "data"
        ]
      },
      "BooleanAttributeContentV3": {
        "type": "object",
        "description": "Boolean attribute content to store true/false values",
        "properties": {
          "reference": {
            "type": "string",
            "description": "Content Reference"
          },
          "data": {
            "type": "boolean",
            "description": "Boolean attribute value"
          },
          "contentType": {
            "$ref": "#/components/schemas/AttributeContentType",
            "description": "Boolean attribute value"
          }
        },
        "required": [
          "contentType",
          "data"
        ]
      },
      "CertificateType": {
        "type": "string",
        "enum": [
          "X.509",
          "SSH"
        ]
      },
      "CodeBlockAttributeContentData": {
        "type": "object",
        "properties": {
          "language": {
            "$ref": "#/components/schemas/ProgrammingLanguageEnum",
            "description": "Definition of programming languages used for code",
            "examples": [
              "JAVA, PHP, C, etc"
            ]
          },
          "code": {
            "type": "string",
            "description": "Block of the code in Base64. Formatting of the code is specified by variable language"
          }
        },
        "required": [
          "code",
          "language"
        ]
      },
      "CodeBlockAttributeContentV2": {
        "type": "object",
        "description": "Codeblock attribute content to store encoded snippets of programming language code",
        "properties": {
          "reference": {
            "type": "string",
            "description": "ContentV2 Reference"
          },
          "data": {
            "$ref": "#/components/schemas/CodeBlockAttributeContentData",
            "description": "CodeBlock attribute content data"
          }
        },
        "required": [
          "data"
        ]
      },
      "CodeBlockAttributeContentV3": {
        "type": "object",
        "description": "Codeblock attribute content to store encoded snippets of programming language code",
        "properties": {
          "reference": {
            "type": "string",
            "description": "Content Reference"
          },
          "data": {
            "$ref": "#/components/schemas/CodeBlockAttributeContentData",
            "description": "CodeBlock attribute content data"
          },
          "contentType": {
            "$ref": "#/components/schemas/AttributeContentType",
            "description": "Content Type of the attribute"
          }
        },
        "required": [
          "contentType",
          "data"
        ]
      },
      "CredentialAttributeContentData": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "description": "Object identifier",
            "examples": [
              "7b55ge1c-844f-11dc-a8a3-0242ac120002"
            ]
          },
          "name": {
            "type": "string",
            "description": "Object Name",
            "examples": [
              "Name"
            ]
          },
          "kind": {
            "type": "string",
            "description": "Credential Kind",
            "examples": [
              "SoftKeyStore, Basic, ApiKey, etc"
            ]
          },
          "attributes": {
            "type": "array",
            "description": "List of Credential Attributes",
            "items": {
              "$ref": "#/components/schemas/DataAttributeV2"
            }
          }
        },
        "required": [
          "attributes",
          "kind",
          "name",
          "uuid"
        ]
      },
      "CredentialAttributeContentV2": {
        "type": "object",
        "description": "Credential attribute content carrying information about credential to use",
        "properties": {
          "reference": {
            "type": "string",
            "description": "ContentV2 Reference"
          },
          "data": {
            "$ref": "#/components/schemas/CredentialAttributeContentData",
            "description": "Credential attribute content data"
          }
        },
        "required": [
          "data"
        ]
      },
      "DataAttributeProperties": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Friendly name of the the Attribute",
            "examples": [
              "Attribute Name"
            ]
          },
          "visible": {
            "type": "boolean",
            "default": true,
            "description": "Boolean determining if the Attribute is visible and can be displayed, otherwise it should be hidden to the user."
          },
          "group": {
            "type": "string",
            "description": "Group of the Attribute, used for the logical grouping of the Attribute",
            "examples": [
              "requiredAttributes"
            ]
          },
          "required": {
            "type": "boolean",
            "default": false,
            "description": "Boolean determining if the Attribute is required. If true, the Attribute must be provided."
          },
          "readOnly": {
            "type": "boolean",
            "default": false,
            "description": "Boolean determining if the Attribute is read only. If true, the Attribute content cannot be changed."
          },
          "list": {
            "type": "boolean",
            "default": false,
            "description": "Boolean determining if the Attribute contains list of values in the content"
          },
          "multiSelect": {
            "type": "boolean",
            "default": false,
            "description": "Boolean determining if the Attribute can have multiple values"
          },
          "protectionLevel": {
            "$ref": "#/components/schemas/ProtectionLevel",
            "default": "none",
            "description": "Protection level of the attribute content"
          },
          "resource": {
            "$ref": "#/components/schemas/AttributeResource",
            "description": "Resource of the attribute, relevant if the attribute has Resource content type"
          },
          "extensibleList": {
            "type": "boolean",
            "default": false,
            "description": "Boolean determining if a list Attribute can have values other than predefined options"
          }
        },
        "required": [
          "extensibleList",
          "label",
          "list",
          "multiSelect",
          "readOnly",
          "required",
          "visible"
        ]
      },
      "DataAttributeV2": {
        "type": "object",
        "description": "Data attribute allows to store and transfer dynamic data. Its content can be edited and send in requests to store.",
        "properties": {
          "uuid": {
            "type": "string",
            "description": "UUID of the Attribute for unique identification",
            "example": "b11c9be1-b619-4ef5-be1b-a1cd9ef265b7"
          },
          "name": {
            "type": "string",
            "description": "Name of the Attribute that is used for identification",
            "examples": [
              "Attribute"
            ]
          },
          "description": {
            "type": "string",
            "description": "Optional description of the Attribute, should contain helper text on what is expected"
          },
          "version": {
            "type": "integer",
            "format": "int32",
            "description": "Version of the attribute"
          },
          "type": {
            "$ref": "#/components/schemas/AttributeType",
            "description": "Type of the Attribute"
          },
          "content": {
            "type": "array",
            "description": "Content of the Attribute",
            "items": {
              "$ref": "#/components/schemas/BaseAttributeContentDtoV2"
            }
          },
          "contentType": {
            "$ref": "#/components/schemas/AttributeContentType",
            "description": "Type of the Content"
          },
          "properties": {
            "$ref": "#/components/schemas/DataAttributeProperties",
            "description": "Properties of the Attributes"
          },
          "constraints": {
            "type": "array",
            "description": "Optional constraints used for validating the Attribute content",
            "items": {
              "$ref": "#/components/schemas/BaseAttributeConstraint"
            }
          },
          "attributeCallback": {
            "$ref": "#/components/schemas/AttributeCallback",
            "description": "Optional definition of callback for getting the content of the Attribute based on the action"
          }
        },
        "required": [
          "contentType",
          "name",
          "properties",
          "type",
          "uuid",
          "version"
        ]
      },
      "DateAttributeContentV2": {
        "type": "object",
        "description": "Date attribute content in predefined format",
        "properties": {
          "reference": {
            "type": "string",
            "description": "ContentV2 Reference"
          },
          "data": {
            "type": "string",
            "format": "date",
            "description": "Date attribute value in format yyyy-MM-dd"
          }
        },
        "required": [
          "data"
        ]
      },
      "DateAttributeContentV3": {
        "type": "object",
        "description": "Date attribute content in predefined format",
        "properties": {
          "reference": {
            "type": "string",
            "description": "Content Reference"
          },
          "data": {
            "type": "string",
            "format": "date",
            "description": "Date attribute value in format yyyy-MM-dd"
          },
          "contentType": {
            "$ref": "#/components/schemas/AttributeContentType",
            "description": "Content Type of the attribute"
          }
        },
        "required": [
          "contentType",
          "data"
        ]
      },
      "DateTimeAttributeConstraint": {
        "type": "object",
        "description": "DateTime attribute constraint to specify boundaries for date value",
        "properties": {
          "description": {
            "type": "string",
            "description": "Description of the constraint"
          },
          "errorMessage": {
            "type": "string",
            "description": "Error message to be displayed for wrong data"
          },
          "type": {
            "$ref": "#/components/schemas/AttributeConstraintType",
            "description": "Attribute Constraint Type"
          },
          "data": {
            "$ref": "#/components/schemas/DateTimeAttributeConstraintData",
            "description": "DateTime Range Attribute Constraint Data"
          }
        },
        "required": [
          "type"
        ]
      },
      "DateTimeAttributeConstraintData": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "date-time",
            "description": "Start of the datetime for validation"
          },
          "to": {
            "type": "string",
            "format": "date-time",
            "description": "End of the datetime for validation"
          }
        }
      },
      "DateTimeAttributeContentV2": {
        "type": "object",
        "description": "DateTime attribute content in predefined format with timezone",
        "properties": {
          "reference": {
            "type": "string",
            "description": "ContentV2 Reference"
          },
          "data": {
            "type": "string",
            "format": "date-time",
            "description": "DateTime attribute value in format yyyy-MM-ddTHH:mm:ss.SSSXXX"
          }
        },
        "required": [
          "data"
        ]
      },
      "DateTimeAttributeContentV3": {
        "type": "object",
        "description": "DateTime attribute content in predefined format with timezone",
        "properties": {
          "reference": {
            "type": "string",
            "description": "Content Reference"
          },
          "data": {
            "type": "string",
            "format": "date-time",
            "description": "DateTime attribute value in format yyyy-MM-ddTHH:mm:ss.SSSXXX"
          },
          "contentType": {
            "$ref": "#/components/schemas/AttributeContentType",
            "description": "Content Type of the attribute"
          }
        },
        "required": [
          "contentType",
          "data"
        ]
      },
      "FileAttributeContentData": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "File content"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the file"
          },
          "mimeType": {
            "type": "string",
            "description": "Type of the file uploaded"
          }
        },
        "required": [
          "content",
          "fileName",
          "mimeType"
        ]
      },
      "FileAttributeContentV2": {
        "type": "object",
        "description": "File attribute content for storing encoded file content with additional info",
        "properties": {
          "reference": {
            "type": "string",
            "description": "ContentV2 Reference"
          },
          "data": {
            "$ref": "#/components/schemas/FileAttributeContentData",
            "description": "File attribute content data"
          }
        },
        "required": [
          "data"
        ]
      },
      "FileAttributeContentV3": {
        "type": "object",
        "description": "File attribute content for storing encoded file content with additional info",
        "properties": {
          "reference": {
            "type": "string",
            "description": "Content Reference"
          },
          "data": {
            "$ref": "#/components/schemas/FileAttributeContentData",
            "description": "File attribute content data"
          },
          "contentType": {
            "$ref": "#/components/schemas/AttributeContentType",
            "description": "Content Type of the attribute"
          }
        },
        "required": [
          "contentType",
          "data"
        ]
      },
      "FloatAttributeContentV2": {
        "type": "object",
        "description": "Float attribute content for decimal numbers",
        "properties": {
          "reference": {
            "type": "string",
            "description": "ContentV2 Reference"
          },
          "data": {
            "type": "number",
            "format": "float",
            "description": "Float attribute value"
          }
        },
        "required": [
          "data"
        ]
      },
      "FloatAttributeContentV3": {
        "type": "object",
        "description": "Float attribute content for decimal numbers",
        "properties": {
          "reference": {
            "type": "string",
            "description": "Content Reference"
          },
          "data": {
            "type": "number",
            "format": "float",
            "description": "Float attribute value"
          },
          "contentType": {
            "$ref": "#/components/schemas/AttributeContentType",
            "description": "Content Type of the attribute"
          }
        },
        "required": [
          "contentType",
          "data"
        ]
      },
      "GenericSecretContent": {
        "type": "object",
        "description": "Secret representing generic content represented as string",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/SecretType",
            "description": "Secret type",
            "examples": [
              "apiKey"
            ]
          },
          "content": {
            "type": "string",
            "description": "Generic secret content represented as string. In case secret content is binary data, it should be encoded as BASE64 string.",
            "minLength": 1
          }
        },
        "required": [
          "content",
          "type"
        ],
        "title": "GenericSecretContent"
      },
      "IntegerAttributeContentV2": {
        "type": "object",
        "description": "Integer attribute content for integer numbers",
        "properties": {
          "reference": {
            "type": "string",
            "description": "ContentV2 Reference"
          },
          "data": {
            "type": "integer",
            "format": "int32",
            "description": "Integer attribute value"
          }
        },
        "required": [
          "data"
        ]
      },
      "IntegerAttributeContentV3": {
        "type": "object",
        "description": "Integer attribute content for integer numbers",
        "properties": {
          "reference": {
            "type": "string",
            "description": "Content Reference"
          },
          "data": {
            "type": "integer",
            "format": "int32",
            "description": "Integer attribute value"
          },
          "contentType": {
            "$ref": "#/components/schemas/AttributeContentType",
            "description": "Content Type of the attribute"
          }
        },
        "required": [
          "contentType",
          "data"
        ]
      },
      "JwtTokenSecretContent": {
        "type": "object",
        "description": "Secret representing JWT Token",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/SecretType",
            "description": "Secret type",
            "examples": [
              "apiKey"
            ]
          },
          "content": {
            "type": "string",
            "description": "JWT Token content in compact (dot-separated) format specified in [RFC 7519](https://datatracker.ietf.org/doc/html/rfc7519#section-3)",
            "example": "eyJ0eXAiOiJKV1QiLA0KICJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJqb2UiLA0KICJleHAiOjEzMDA4MTkzODAsDQogImh0dHA6Ly9leGFtcGxlLmNvbS9pc19yb290Ijp0cnVlfQ.dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk",
            "minLength": 1
          }
        },
        "required": [
          "content",
          "type"
        ],
        "title": "JwtTokenSecretContent"
      },
      "KeyStoreSecretContent": {
        "type": "object",
        "description": "Secret representing Key Store",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/SecretType",
            "description": "Secret type",
            "examples": [
              "apiKey"
            ]
          },
          "keyStoreType": {
            "$ref": "#/components/schemas/KeyStoreType",
            "description": "Key Store type"
          },
          "content": {
            "type": "string",
            "description": "BASE64 encoded content of key store",
            "minLength": 1
          },
          "password": {
            "type": "string",
            "description": "Password for key store"
          }
        },
        "required": [
          "content",
          "keyStoreType",
          "password",
          "type"
        ],
        "title": "KeyStoreSecretContent"
      },
      "KeyStoreType": {
        "type": "string",
        "enum": [
          "JKS",
          "PKCS12"
        ]
      },
      "KeyValueSecretContent": {
        "type": "object",
        "description": "Secret representing key-value pairs",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/SecretType",
            "description": "Secret type",
            "examples": [
              "apiKey"
            ]
          },
          "content": {
            "type": "object",
            "additionalProperties": {},
            "description": "Key-Value pairs stored as the secret content, represented by JSON object"
          }
        },
        "required": [
          "content",
          "type"
        ],
        "title": "KeyValueSecretContent"
      },
      "MetadataAttribute": {
        "description": "Metadata Attribute definition",
        "oneOf": [
          {
            "$ref": "#/components/schemas/MetadataAttributeV2"
          },
          {
            "$ref": "#/components/schemas/MetadataAttributeV3"
          }
        ]
      },
      "MetadataAttributeProperties": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Friendly name of the the Attribute",
            "examples": [
              "Attribute Name"
            ]
          },
          "visible": {
            "type": "boolean",
            "default": true,
            "description": "Boolean determining if the Attribute is visible and can be displayed, otherwise it should be hidden to the user."
          },
          "group": {
            "type": "string",
            "description": "Group of the Attribute, used for the logical grouping of the Attribute",
            "examples": [
              "requiredAttributes"
            ]
          },
          "global": {
            "type": "boolean",
            "default": false,
            "description": "Boolean determining if the Metadata is a global metadata."
          },
          "overwrite": {
            "type": "boolean",
            "default": false,
            "description": "Boolean determining if the new metadata content should overwrite (replace) existing content instead of appending."
          },
          "protectionLevel": {
            "$ref": "#/components/schemas/ProtectionLevel",
            "default": "none",
            "description": "Protection level of the attribute content"
          }
        },
        "required": [
          "label",
          "visible"
        ]
      },
      "MetadataAttributeV2": {
        "type": "object",
        "description": "Info attribute contains content that is for metadata. Its content can not be edited and is not send in requests to store.",
        "properties": {
          "uuid": {
            "type": "string",
            "description": "UUID of the Attribute for unique identification",
            "example": "b11c9be1-b619-4ef5-be1b-a1cd9ef265b7"
          },
          "name": {
            "type": "string",
            "description": "Name of the Attribute that is used for identification",
            "examples": [
              "Attribute"
            ]
          },
          "description": {
            "type": "string",
            "description": "Optional description of the Attribute, should contain helper text on what is expected"
          },
          "version": {
            "type": "integer",
            "format": "int32",
            "description": "Version of the attribute"
          },
          "type": {
            "$ref": "#/components/schemas/AttributeType",
            "description": "Type of the Attribute"
          },
          "content": {
            "type": "array",
            "description": "Content of the Attribute",
            "items": {
              "$ref": "#/components/schemas/BaseAttributeContentDtoV2"
            }
          },
          "contentType": {
            "$ref": "#/components/schemas/AttributeContentType",
            "description": "Type of the Content"
          },
          "properties": {
            "$ref": "#/components/schemas/MetadataAttributeProperties",
            "description": "Properties of the Attributes"
          }
        },
        "required": [
          "contentType",
          "name",
          "properties",
          "type",
          "uuid",
          "version"
        ]
      },
      "MetadataAttributeV3": {
        "type": "object",
        "description": "Info attribute contains content that is for metadata. Its content can not be edited and is not send in requests to store.",
        "properties": {
          "uuid": {
            "type": "string",
            "description": "UUID of the Attribute for unique identification",
            "example": "b11c9be1-b619-4ef5-be1b-a1cd9ef265b7"
          },
          "name": {
            "type": "string",
            "description": "Name of the Attribute that is used for identification",
            "examples": [
              "Attribute"
            ]
          },
          "description": {
            "type": "string",
            "description": "Optional description of the Attribute, should contain helper text on what is expected"
          },
          "version": {
            "type": "integer",
            "format": "int32",
            "description": "Version of the attribute"
          },
          "type": {
            "$ref": "#/components/schemas/AttributeType",
            "description": "Type of the Attribute"
          },
          "content": {
            "type": "array",
            "description": "Content of the Attribute",
            "items": {
              "$ref": "#/components/schemas/BaseAttributeContentDtoV3"
            }
          },
          "contentType": {
            "$ref": "#/components/schemas/AttributeContentType",
            "description": "Type of the Content"
          },
          "properties": {
            "$ref": "#/components/schemas/MetadataAttributeProperties",
            "description": "Properties of the Attributes"
          },
          "schemaVersion": {
            "$ref": "#/components/schemas/AttributeVersion",
            "description": "Schema version of the Attribute"
          }
        },
        "required": [
          "contentType",
          "name",
          "properties",
          "schemaVersion",
          "type",
          "uuid",
          "version"
        ]
      },
      "ObjectAttributeContentV2": {
        "type": "object",
        "description": "Object attribute content for data with custom structure",
        "properties": {
          "reference": {
            "type": "string",
            "description": "ContentV2 Reference"
          },
          "data": {
            "description": "Object attribute content data"
          }
        },
        "required": [
          "data"
        ]
      },
      "ObjectAttributeContentV3": {
        "type": "object",
        "description": "Object attribute content for data with custom structure",
        "properties": {
          "reference": {
            "type": "string",
            "description": "Content Reference"
          },
          "data": {
            "description": "Object attribute content data"
          },
          "contentType": {
            "$ref": "#/components/schemas/AttributeContentType",
            "description": "Content Type of the attribute"
          }
        },
        "required": [
          "contentType",
          "data"
        ]
      },
      "PrivateKeySecretContent": {
        "type": "object",
        "description": "Secret representing private key",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/SecretType",
            "description": "Secret type",
            "examples": [
              "apiKey"
            ]
          },
          "content": {
            "type": "string",
            "description": "BASE64 encoded content of key in PEM format",
            "minLength": 1
          }
        },
        "required": [
          "content",
          "type"
        ],
        "title": "PrivateKeySecretContent"
      },
      "ProgrammingLanguageEnum": {
        "type": "string",
        "enum": [
          "apacheconf",
          "bash",
          "basic",
          "c",
          "csharp",
          "cpp",
          "css",
          "docker",
          "fsharp",
          "gherkin",
          "git",
          "go",
          "graphql",
          "html",
          "http",
          "ini",
          "java",
          "javascript",
          "json",
          "kotlin",
          "latex",
          "lisp",
          "makefile",
          "markdown",
          "matlab",
          "nginx",
          "objectivec",
          "perl",
          "php",
          "powershell",
          "properties",
          "python",
          "ruby",
          "rust",
          "smalltalk",
          "sql",
          "typescript",
          "vbnet",
          "xquery",
          "xml",
          "yaml"
        ]
      },
      "ProtectionLevel": {
        "type": "string",
        "enum": [
          "none",
          "encrypted"
        ]
      },
      "RangeAttributeConstraint": {
        "type": "object",
        "description": "Range attribute constraint to specify boundaries for integer value",
        "properties": {
          "description": {
            "type": "string",
            "description": "Description of the constraint"
          },
          "errorMessage": {
            "type": "string",
            "description": "Error message to be displayed for wrong data"
          },
          "type": {
            "$ref": "#/components/schemas/AttributeConstraintType",
            "description": "Attribute Constraint Type"
          },
          "data": {
            "$ref": "#/components/schemas/RangeAttributeConstraintData",
            "description": "Integer Range Attribute Constraint Data"
          }
        },
        "required": [
          "type"
        ]
      },
      "RangeAttributeConstraintData": {
        "type": "object",
        "properties": {
          "from": {
            "type": "integer",
            "format": "int32",
            "description": "Start of the range for validation"
          },
          "to": {
            "type": "integer",
            "format": "int32",
            "description": "End of the range for validation"
          }
        }
      },
      "RegexpAttributeConstraint": {
        "type": "object",
        "description": "RegExp attribute constraint to restrict string value by regular expression",
        "properties": {
          "description": {
            "type": "string",
            "description": "Description of the constraint"
          },
          "errorMessage": {
            "type": "string",
            "description": "Error message to be displayed for wrong data"
          },
          "type": {
            "$ref": "#/components/schemas/AttributeConstraintType",
            "description": "Attribute Constraint Type"
          },
          "data": {
            "type": "string",
            "description": "Regular Expression Attribute Constraint Data"
          }
        },
        "required": [
          "type"
        ]
      },
      "RequestAttribute": {
        "type": "object",
        "description": "Request attribute to send attribute content for object",
        "discriminator": {
          "propertyName": "version",
          "mapping": {
            "v2": "#/components/schemas/RequestAttributeV2",
            "v3": "#/components/schemas/RequestAttributeV3"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/RequestAttributeV3"
          },
          {
            "$ref": "#/components/schemas/RequestAttributeV2"
          }
        ],
        "required": [
          "contentType",
          "name",
          "uuid",
          "version"
        ]
      },
      "RequestAttributeV2": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the Attribute",
            "example": "b11c9be1-b619-4ef5-be1b-a1cd9ef265b7"
          },
          "name": {
            "type": "string",
            "description": "Name of the Attribute",
            "examples": [
              "Attribute"
            ]
          },
          "contentType": {
            "$ref": "#/components/schemas/AttributeContentType",
            "description": "Content Type of the Attribute",
            "examples": [
              "Attribute"
            ]
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BaseAttributeContentDtoV2"
            }
          },
          "version": {
            "$ref": "#/components/schemas/AttributeVersion",
            "description": "Version of the Attribute"
          }
        },
        "required": [
          "contentType",
          "name",
          "uuid",
          "version"
        ]
      },
      "RequestAttributeV3": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the Attribute",
            "example": "b11c9be1-b619-4ef5-be1b-a1cd9ef265b7"
          },
          "name": {
            "type": "string",
            "description": "Name of the Attribute",
            "examples": [
              "Attribute"
            ]
          },
          "contentType": {
            "$ref": "#/components/schemas/AttributeContentType",
            "description": "Content Type of the Attribute",
            "examples": [
              "Attribute"
            ]
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BaseAttributeContentDtoV3"
            }
          },
          "version": {
            "$ref": "#/components/schemas/AttributeVersion",
            "description": "Version of the Attribute"
          }
        },
        "required": [
          "contentType",
          "name",
          "uuid",
          "version"
        ]
      },
      "ResourceCertificateContentData": {
        "type": "object",
        "description": "Content data for resource object attribute containing certificate content",
        "properties": {
          "uuid": {
            "type": "string",
            "description": "Resource identifier",
            "examples": [
              "7b55ge1c-844f-11dc-a8a3-0242ac120002"
            ]
          },
          "name": {
            "type": "string",
            "description": "Resource name",
            "examples": [
              "Main authority"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/AttributeResource",
            "description": "Resource contained in data",
            "example": "authorities"
          },
          "certificateType": {
            "$ref": "#/components/schemas/CertificateType",
            "description": "Certificate type"
          },
          "content": {
            "type": "string",
            "description": "Base64 encoded content of the certificate"
          }
        },
        "required": [
          "name",
          "resource",
          "uuid"
        ],
        "title": "ResourceCertificateContentData"
      },
      "ResourceObjectContent": {
        "type": "object",
        "description": "Resource object attribute content carrying resource object data",
        "properties": {
          "reference": {
            "type": "string",
            "description": "Content Reference"
          },
          "data": {
            "$ref": "#/components/schemas/ResourceObjectContentData",
            "description": "Resource Object content data"
          },
          "contentType": {
            "$ref": "#/components/schemas/AttributeContentType",
            "description": "Content Type of the attribute"
          }
        },
        "required": [
          "contentType",
          "data"
        ]
      },
      "ResourceObjectContentData": {
        "type": "object",
        "discriminator": {
          "propertyName": "resource",
          "mapping": {
            "authorities": "#/components/schemas/ResourceSimpleContentData",
            "entities": "#/components/schemas/ResourceSimpleContentData",
            "locations": "#/components/schemas/ResourceSimpleContentData",
            "credentials": "#/components/schemas/ResourceSimpleContentData",
            "certificates": "#/components/schemas/ResourceCertificateContentData",
            "secrets": "#/components/schemas/ResourceSecretContentData"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/ResourceSimpleContentData"
          },
          {
            "$ref": "#/components/schemas/ResourceCertificateContentData"
          },
          {
            "$ref": "#/components/schemas/ResourceSecretContentData"
          }
        ],
        "required": [
          "name",
          "resource",
          "uuid"
        ]
      },
      "ResourceSecretContentData": {
        "type": "object",
        "description": "Content data for resource object attribute containing secret content",
        "properties": {
          "uuid": {
            "type": "string",
            "description": "Resource identifier",
            "examples": [
              "7b55ge1c-844f-11dc-a8a3-0242ac120002"
            ]
          },
          "name": {
            "type": "string",
            "description": "Resource name",
            "examples": [
              "Main authority"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/AttributeResource",
            "description": "Resource contained in data",
            "example": "authorities"
          },
          "content": {
            "$ref": "#/components/schemas/SecretContent",
            "description": "Secret content of the resource object"
          }
        },
        "required": [
          "name",
          "resource",
          "uuid"
        ],
        "title": "ResourceSecretContentData"
      },
      "ResourceSimpleContentData": {
        "type": "object",
        "description": "Content data for resource object defined by its attributes",
        "properties": {
          "resource": {
            "$ref": "#/components/schemas/AttributeResource",
            "description": "Resource contained in data",
            "example": "authorities"
          },
          "uuid": {
            "type": "string",
            "description": "Resource identifier",
            "examples": [
              "7b55ge1c-844f-11dc-a8a3-0242ac120002"
            ]
          },
          "name": {
            "type": "string",
            "description": "Resource name",
            "examples": [
              "Main authority"
            ]
          },
          "attributes": {
            "type": "array",
            "description": "Attributes of the resource object",
            "items": {
              "$ref": "#/components/schemas/ResponseAttribute"
            }
          }
        },
        "required": [
          "name",
          "resource",
          "uuid"
        ],
        "title": "ResourceSimpleContentData"
      },
      "ResponseAttribute": {
        "type": "object",
        "description": "Response attribute to send attribute content for object",
        "discriminator": {
          "propertyName": "version",
          "mapping": {
            "v2": "#/components/schemas/ResponseAttributeV2",
            "v3": "#/components/schemas/ResponseAttributeV3"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/ResponseAttributeV2"
          },
          {
            "$ref": "#/components/schemas/ResponseAttributeV3"
          }
        ],
        "required": [
          "contentType",
          "label",
          "name",
          "type",
          "uuid",
          "version"
        ]
      },
      "ResponseAttributeV2": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BaseAttributeContentDtoV2"
            }
          },
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the Attribute",
            "example": "b11c9be1-b619-4ef5-be1b-a1cd9ef265b7"
          },
          "name": {
            "type": "string",
            "description": "Name of the Attribute",
            "examples": [
              "Attribute"
            ]
          },
          "label": {
            "type": "string",
            "description": "Label of the the Attribute",
            "examples": [
              "Attribute Name"
            ]
          },
          "type": {
            "$ref": "#/components/schemas/AttributeType",
            "description": "Type of the Attribute"
          },
          "contentType": {
            "$ref": "#/components/schemas/AttributeContentType",
            "description": "Content Type of the Attribute",
            "examples": [
              "Attribute"
            ]
          },
          "version": {
            "$ref": "#/components/schemas/AttributeVersion",
            "description": "Version of the Attribute"
          }
        },
        "required": [
          "contentType",
          "label",
          "name",
          "type",
          "uuid",
          "version"
        ]
      },
      "ResponseAttributeV3": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the Attribute",
            "example": "b11c9be1-b619-4ef5-be1b-a1cd9ef265b7"
          },
          "name": {
            "type": "string",
            "description": "Name of the Attribute",
            "examples": [
              "Attribute"
            ]
          },
          "label": {
            "type": "string",
            "description": "Label of the the Attribute",
            "examples": [
              "Attribute Name"
            ]
          },
          "type": {
            "$ref": "#/components/schemas/AttributeType",
            "description": "Type of the Attribute"
          },
          "contentType": {
            "$ref": "#/components/schemas/AttributeContentType",
            "description": "Content Type of the Attribute",
            "examples": [
              "Attribute"
            ]
          },
          "version": {
            "$ref": "#/components/schemas/AttributeVersion",
            "description": "Version of the Attribute"
          }
        },
        "required": [
          "contentType",
          "label",
          "name",
          "type",
          "uuid",
          "version"
        ]
      },
      "SecretAttributeContentData": {
        "type": "object",
        "properties": {
          "secret": {
            "type": "string",
            "description": "Secret attribute data"
          },
          "protectionLevel": {
            "$ref": "#/components/schemas/ProtectionLevel",
            "description": "Level of protection of the data"
          }
        }
      },
      "SecretAttributeContentV2": {
        "type": "object",
        "description": "Secret attribute content carrying secrets with defined protection level",
        "properties": {
          "reference": {
            "type": "string",
            "description": "ContentV2 Reference"
          },
          "data": {
            "$ref": "#/components/schemas/SecretAttributeContentData",
            "description": "Secret attribute content data"
          }
        },
        "required": [
          "data"
        ]
      },
      "SecretContent": {
        "type": "object",
        "description": "Secret content dependent on secret type",
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "basicAuth": "#/components/schemas/BasicAuthSecretContent",
            "apiKey": "#/components/schemas/ApiKeySecretContent",
            "jwtToken": "#/components/schemas/JwtTokenSecretContent",
            "privateKey": "#/components/schemas/PrivateKeySecretContent",
            "secretKey": "#/components/schemas/SecretKeySecretContent",
            "keyStore": "#/components/schemas/KeyStoreSecretContent",
            "keyValue": "#/components/schemas/KeyValueSecretContent",
            "generic": "#/components/schemas/GenericSecretContent"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/BasicAuthSecretContent"
          },
          {
            "$ref": "#/components/schemas/ApiKeySecretContent"
          },
          {
            "$ref": "#/components/schemas/JwtTokenSecretContent"
          },
          {
            "$ref": "#/components/schemas/PrivateKeySecretContent"
          },
          {
            "$ref": "#/components/schemas/SecretKeySecretContent"
          },
          {
            "$ref": "#/components/schemas/KeyStoreSecretContent"
          },
          {
            "$ref": "#/components/schemas/KeyValueSecretContent"
          },
          {
            "$ref": "#/components/schemas/GenericSecretContent"
          }
        ],
        "required": [
          "type"
        ]
      },
      "SecretKeySecretContent": {
        "type": "object",
        "description": "Secret representing secret key",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/SecretType",
            "description": "Secret type",
            "examples": [
              "apiKey"
            ]
          },
          "content": {
            "type": "string",
            "description": "BASE64 encoded binary (raw) content of key",
            "minLength": 1
          }
        },
        "required": [
          "content",
          "type"
        ],
        "title": "SecretKeySecretContent"
      },
      "SecretType": {
        "type": "string",
        "enum": [
          "basicAuth",
          "apiKey",
          "jwtToken",
          "privateKey",
          "secretKey",
          "keyStore",
          "keyValue",
          "generic"
        ]
      },
      "StringAttributeContentV2": {
        "type": "object",
        "description": "String attribute content",
        "properties": {
          "reference": {
            "type": "string",
            "description": "ContentV2 Reference"
          },
          "data": {
            "type": "string",
            "description": "String attribute value"
          }
        },
        "required": [
          "data"
        ]
      },
      "StringAttributeContentV3": {
        "type": "object",
        "description": "String attribute content",
        "properties": {
          "reference": {
            "type": "string",
            "description": "Content Reference"
          },
          "data": {
            "type": "string",
            "description": "String attribute value"
          },
          "contentType": {
            "$ref": "#/components/schemas/AttributeContentType",
            "description": "Content Type of the attribute"
          }
        },
        "required": [
          "contentType",
          "data"
        ]
      },
      "TextAttributeContentV2": {
        "type": "object",
        "description": "Text attribute content used to store longer formatted strings",
        "properties": {
          "reference": {
            "type": "string",
            "description": "ContentV2 Reference"
          },
          "data": {
            "type": "string",
            "description": "Text attribute value"
          }
        },
        "required": [
          "data"
        ]
      },
      "TextAttributeContentV3": {
        "type": "object",
        "description": "Text attribute content used to store longer formatted strings",
        "properties": {
          "reference": {
            "type": "string",
            "description": "Content Reference"
          },
          "data": {
            "type": "string",
            "description": "Text attribute value"
          },
          "contentType": {
            "$ref": "#/components/schemas/AttributeContentType",
            "description": "Content Type of the attribute"
          }
        },
        "required": [
          "contentType",
          "data"
        ]
      },
      "TimeAttributeContentV2": {
        "type": "object",
        "description": "Time attribute content in predefined format",
        "properties": {
          "reference": {
            "type": "string",
            "description": "ContentV2 Reference"
          },
          "data": {
            "type": "string",
            "description": "Time attribute value in format HH:mm:ss"
          }
        },
        "required": [
          "data"
        ]
      },
      "TimeAttributeContentV3": {
        "type": "object",
        "description": "Time attribute content in predefined format",
        "properties": {
          "reference": {
            "type": "string",
            "description": "Content Reference"
          },
          "data": {
            "type": "string",
            "description": "Time attribute value in format HH:mm:ss"
          },
          "contentType": {
            "$ref": "#/components/schemas/AttributeContentType",
            "description": "Content Type of the attribute"
          }
        },
        "required": [
          "contentType",
          "data"
        ]
      },
      "UpdateSecretRequestDto": {
        "type": "object",
        "description": "Update Secret request",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the secret",
            "examples": [
              "MyServerCredentials"
            ],
            "minLength": 1
          },
          "secret": {
            "$ref": "#/components/schemas/SecretContent",
            "description": "Secret content"
          },
          "vaultAttributes": {
            "type": "array",
            "description": "Vault attributes",
            "items": {
              "$ref": "#/components/schemas/RequestAttribute"
            }
          },
          "vaultProfileAttributes": {
            "type": "array",
            "description": "Vault profile attributes",
            "items": {
              "$ref": "#/components/schemas/RequestAttribute"
            }
          },
          "secretAttributes": {
            "type": "array",
            "description": "Secret attributes",
            "items": {
              "$ref": "#/components/schemas/RequestAttribute"
            }
          },
          "metadata": {
            "type": "array",
            "description": "Metadata for the secret",
            "items": {
              "$ref": "#/components/schemas/MetadataAttribute"
            }
          }
        },
        "required": [
          "name",
          "secret"
        ]
      },
      "ErrorCode": {
        "type": "string",
        "enum": [
          "VALIDATION_FAILED",
          "RESOURCE_NOT_FOUND",
          "RESOURCE_ALREADY_EXISTS",
          "REQUEST_TIMEOUT",
          "OPERATION_NOT_SUPPORTED",
          "ATTRIBUTES_ERROR",
          "SERVICE_UNAVAILABLE",
          "INTERNAL_SERVER_ERROR",
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "RATE_LIMIT_EXCEEDED"
        ]
      },
      "ProblemDetailExtended": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "RFC 9457 type URI identifying the problem type",
            "example": "https://docs.otilm.com/problems/common/validation-failed"
          },
          "title": {
            "type": "string",
            "description": "Short human-readable summary of the problem type",
            "example": "Validation failed"
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "description": "HTTP status code (MUST match the actual response code)",
            "example": 422,
            "maximum": 599,
            "minimum": 100
          },
          "detail": {
            "type": "string",
            "description": "Human-readable explanation specific to this occurrence",
            "example": "One or more fields failed validation."
          },
          "instance": {
            "type": "string",
            "format": "uri",
            "description": "URI reference identifying the occurrence (e.g., request path or operation ID).",
            "example": "https://api.example.org/foo/bar/123"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {},
            "description": "Generic map of properties that are not known ahead of time"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode",
            "description": "Application specific error code"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the error occurred (RFC 3339 format)",
            "examples": [
              "2026-01-22T15:10:20.123Z",
              "2026-01-22T15:10:20.123+02:00"
            ]
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request. Trace value from X-Request-Id or W3C Trace Context."
          },
          "retryable": {
            "type": "boolean",
            "description": "Indicates if the operation that caused the error can be retried safely"
          },
[...]
